APP_ENV=local
APP_URL=http://127.0.0.1:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=resepku
DB_USERNAME=root
DB_PASSWORD=
MAIL_FROM_ADDRESS=noreply@resepku.test
MAIL_FROM_NAME=Resepku
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=yourgmail@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_ENCRYPTION=tls

wwkp njdi dpmp iudc
